:root {
    --color-background: #F1FFFA;
    --color-background-secondary: #E2DE84;
    --color-font-primary: #464E47;
    --color-font-secondary: #568259;
    --color-aux: #96E6B3;
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    font-size: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
input,
button,
textarea {
    /* font: 500 1.6rem Poppins; */
    font-weight: 500;
    font-size: 1.6rem;
    font-family: Poppins;
    color: var(--color-text-base)
}

#container {
    width: 90vw;    
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

@media (max-width: 699px) {
    :root {
        font-size: 40%;
    }
}
