main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.checklists {
    border-radius: 2rem;
    background-color: var(--color-background);
    padding: 2rem; 
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
}

.create-checklist {
    background-color: var(--color-font-secondary);
    border-radius: 2rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    margin: 2rem;
    box: 0 0 10px 4px rgba(0,0,0,0.2);
}

.create-checklist:hover {
    background-color: var(--color-font-primary);
    color: var(--color-font-light);
}

.create-checklist a {
    color: var(--color-font-light);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1.6rem;
}

.checklist {
    border-radius: 2rem;
    background-color: var(--color-background-secondary);
    width: 60rem;
    min-height: 18rem;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.car {
    display: flex;
    border-radius: 2rem;
    background-color: var(--color-background-secondary);
    width: 40rem;
    height: 18rem;
    margin: 2rem;

    /* margin: 0 20rem 0 20rem; */
}

.car img {
    border-radius: 2rem;
    margin-left: 0;
    width: 24rem;
    height: 18rem;
}

.wrap-car {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
}

.checklist-item-content {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: space-between;
    margin: 1rem;

    background-color: aliceblue;
    border-radius: 2rem;

    width: 50rem;
    height: auto;
    min-height: 4rem;

}

.checklist-item-content p {
    margin: 1rem;
}

.checklist-item-content img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

