<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Via Brasil | Checklist</title>
    <link rel="stylesheet" href="/static/css/checklist_create.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/checklist_create.js" defer></script>
</head>

<body>
    {% include 'header.html' %}
    <main>
        {% if checklist_templates|length > 0 %}
            <div class="checklist_templates">
                <form class="form-filters" action="{{url_for('checklist_create')}}">
                    <div class="filters">
                        <select required="required" name="car" id="cars">
                            {% for car in cars %}
                            {% if car.id == car_filtered.id %}
                                <option value="{{car.id}}" selected>{{car.model}} | {{car.plate}}</option>
                            {% else %}
                                <option value="{{car.id}}">{{car.model}} | {{car.plate}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select required="required" name="checklist_template" id="checklist_template">
                            {% for checklist_template in checklist_templates %}
                            {% if checklist_template.id == checklist_template_filtered.id %}
                                <option value="{{checklist_template.id}}" selected>{{checklist_template.title}}</option>
                            {% else %}
                                <option value="{{checklist_template.id}}">{{checklist_template.title}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Selecionar">
                </form>

                {% if checklist_template_filtered %}
                    <div class="checklist_template">
                        <div class="checklist_template_header">
                            <img src="/{{car_filtered.image.image}}" alt="Carro">
                            <div class="checklist_template_header_info">
                                <h3 class="checklist_template_title">{{checklist_template_filtered["title"]}}</h3>
                                <p>{{car_filtered["plate"]}}</p>
                                <p>{{car_filtered["brand"]}}</p>
                                <h3>{{car_filtered["model"]}}</h3>
                                <p>{{car_filtered["manufacture_year"]}}</p>
                            </div>
                    </div>
                    <div class="checklist_template_items">
                        <ul>
                            {% for checklist_item in checklist_template_filtered.checklist_template_items %}
                            <li class="checklist-item">
                                {{checklist_item["text"]}}
                            </li>
                            {% endfor %}
                        </ul>
                        <form action="{{url_for('checklist_create')}}" method="POST">
                            <input type="hidden" value={{car_filtered.id}} name="car_id">
                            <input type="hidden" value={{checklist_template_filtered.id}} name="checklist_template_id">
                            <input type="submit" value="Selecionar">
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
            </div>
                <p>Não há templates disponíveis para criação de checklists</p>
                <a href="{{url_for('checklist_template_create')}}">Criar template</a>
            </div>
        {% endif %}
    </main>
    {% include 'footer.html' %}
</body>

</html>