<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Via Brasil | Estoque</title>
    <link rel="stylesheet" href="/static/css/stock_create.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <form action="{{url_for('cars_create')}}" method="POST" enctype="multipart/form-data" >
            <label for="image" id="image-label">Imagem</label>
            <input type="file" name="image" id="image" accept="image/*">
            <label for="plate">Placa</label>
            <input type="text" name="plate" id="plate">
            <label for="brand">Marca</label>
            <input type="text" name="brand" id="brand">
            <label for="model">Modelo</label>
            <input type="text" name="model" id="model">
            <label for="manufacture_year">Ano de fabricação</label>
            <input type="text" name="manufacture_year" id="manufacture_year">
            <label for="buy_price">Preço de compra</label>
            <input type="text" name="buy_price" id="buy_price">
            <label for="sell_price">Preço de venda</label>
            <input type="text" name="sell_price" id="sell_price">
            <label for="status">Status</label>
            <input type="text" name="status" id="status" value="in_stock" readonly>
            <br>
            <br>
            <input type="submit" value="Cadastrar">
        </form>
    </main>
    {% include 'footer.html' %}
</body>
</html>