<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Via Brasil | Estoque</title>
    <link rel="stylesheet" href="/static/css/stock_delete.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    {% include 'header.html' %}

    <main>
        <div class="stock-delete">
                <p> Tem certeza que deseja deletar o seguinte veículo do estoque?</p>
                <br>
                <p> Placa: {{car.plate}}</p>
                <p> Marca: {{car.brand}}</p>
                <p> Modelo: {{car.model}} </p>
        </div>

        <div class="delete-button">
            <form action="{{url_for('cars_delete', id=car.id)}}" method="POST">
                <input type="submit" value="Remover">
            </form>
        </div>

        <!-- <form action="{{ url_for('cars_update', id=id) }}" method="POST" >
            <label for="image-url">Imagem</label>
            <input type="text" name="image-url" id="image-url">
            <label for="plate">Placa</label>
            <input type="text" name="plate" id="plate">
            <label for="brand">Marca</label>
            <input type="text" name="brand" id="brand">
            <label for="model">Modelo</label>
            <input type="text" name="model" id="model">
            <label for="manufacture_year">Ano de fabricação</label>
            <input type="text" name="manufacture_year" id="manufacture_year">
            <input type="submit" value="Editar">
        </form> -->
    </main>
    
    {% include 'footer.html' %}
</body>
</html>